{% extends 'users/base.html' %}
{% load static %}

{% block content %}
  <div class="row profile-banner">
<h4>Liked Posts</h4>
      {% for like in likes %}
        <div class="card mb-3">
          <div class="card-body">
            {% if like.post.image %}
              <div class="post-image-container">
                <img src="{{ like.post.image.url }}" alt="Post Image" style="max-width: 100%; height: auto; width: 400px; clip-path: inset(5% round 15px);">
              </div>
            {%endif%}
            <p class="card-text">{{ like.post.content }}</p>
            <p class="card-text">Posted by: {{ like.post.user.username }} on {{ like.post.created_at }}</p>
            <a href="{% url 'comment_create' like.post.pk %}?next={{ request.path }}" class="btn btn-primary btn-sm">Add Comment</a>
            <a href="{% url 'like' like.post.pk %}?next={{ request.path }}" class="btn btn-sm"> {{ post.likes.count }} <img src="{% static 'blue-heart.png' %}" class="small-icon2"></a>
          </div>
        </div>
        {% empty %}
      <p>This user has no liked posts.</p>
    {% endfor %}
  </div>
  <a href="{% url 'user_profile' %}">
    <button type="submit" class="btn btn-primary">Back</button>
  </a>
{%endblock%}
